@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
}

.pokemonContainer{
    width: 100%;
    padding: 150px;
    display: flex;
    gap: 3rem;
}
.pokemonCard{
    width: 170px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemonCard div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pokemonCard img{
    width: 100px;
}